.clx__contact{
    display: flex;
    position: relative;
    width: 100%;
    height: 1080px;
    overflow: hidden;
    margin: 0;
    background-color: #9CB4CC;
}

.clx__contact-content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin :2rem 0 1rem;
}

.maintxt{
    position: absolute;
    width: 573px;
    height: 127px;
    left: 1102px;
    top: 215px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    
    color: #FFFFFF;
    
}

.MailA-txt{
    position: absolute;
    width: 569px;
    height: 52px;
    left: 1106px;
    top: 399px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    
    color: #1572A1;
}

.eMail-txt{
    position: absolute;
    width: 569px;
    height: 52px;
    left: 1106px;
    top: 544px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    
    color: #1572A1;
    
}
.PhoneN-txt{
    position: absolute;
    width: 569px;
    height: 52px;
    left: 1102px;
    top: 689px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    
    color: #1572A1;
    
}