@import url("https://fonts.googleapis.com/css?family-Roboto+Flex:400,700,900 Roboto:400,700,900,500,800");

.navbar {
  position: fixed;
  z-index: 100;
  width: 1620px;
  height: 80px;
  left: 140px;
  right: 140px;
  top: 12px;
  background-color: var(--white);
  padding:24px;
}

p{
  display: inline;
  float: left;
  flex-direction: column;
	text-transform: normal;
	letter-spacing: normal;
  padding: 0px 20px;
  font-family: var(--font-family-roboto);
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 36px;
  color: #000000;
  text-align: center;
}
.login{
  position:absolute;
  letter-spacing: 0;
  left: 1430px;
}
